.desktop-1 {
    display: flex;
    align-items: flex;
    font-size: 105%;
  }
  body{
    margin: 0;
    font-family: 'josefin sans';
  }
.desktop-1 {
width: 100%;
height: 100%;
}
.desktop-1 video {
object-fit: cover;
height: 100%;
width: 100%;
}
.video-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 100%;
  min-width: 100%;
  }
.wrapper{
    width: 380px;
    background: #000000a4;
    border-radius: 15px;
    position: absolute;
    left: 37%;
    bottom: 18%;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.301);
  }
  .wrapper .title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    text-shadow: 0 1px 10px white;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 0, 0, 0.388);
  }
  .wrapper form{
    padding: 10px 30px 50px 30px;
  }
  .wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .wrapper form .field input{
    height: 100%;
    width: 100%;
    font-size: 17px;
    padding-left: 20px;
    color: white;
    background: #000000;
    border-radius: 100px;
    box-shadow: 0 1px 50px rgb(255 255 255 / 42%);
    transition: all 0.9s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
    border-color: #ffffff;
  }
  .wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
    top: -14%;
    font-size: 16px;
    color: #ffffff;
    transform: translateY(-50%);
  }
  form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
  }
  form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .content input{
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0);
    font-weight: bolder;
  }
  form .content label{
    color: #ffffff;
    user-select: none;
    padding-left: 5px;
  }
  form .content .pass-link{
    color: "";
  }
  form .field input[type="submit"]{
    color: #000000;
    text-shadow: 0 1px 9px rgb(0, 0, 0);
    font-family: 'josefin sans';
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 1px 10px #000000;
    background: linear-gradient(-50deg, #000000af, #ffffffc4);
    transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active{
    transform: scale(0.95);
    color: white;
  }
  form .signup-link{
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
  }
  form .pass-link a,
  form .signup-link a{
    color: #fdfdfd;
    text-shadow: 0 1px 10px rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
  }
  form .pass-link a:hover,
  form .signup-link a:hover{
    text-decoration: underline;
    color: white;
  }